<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <div class="wrap">
      <header class="header">
        <nav class="container header__nav">
          <a href="." class="logo header__logo header__nav-link">TypeRace</a>
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="/rating" class="header__nav-link">Рекорды</a>
            </li>
            {{^isLogin}}
            <li class="header__nav-item">
              <a href="/login" class="header__nav-link">Войти</a>
            </li>
            {{/isLogin}}
            {{#isLogin}}
            <li class="header__nav-item">
              <a href="/profile" class="header__nav-link">Личный кабинет</a>
            </li>
            <li class="header__nav-item">
              <a href="/logout" class="header__nav-link">Выйти</a>
            </li>
            {{/isLogin}}
          </ul>
        </nav>
      </header>
      <div class="content">