{{> header}}

<div class="rating-table table-wrap">
  <div class="table">
    <div class="table__row table__row-header">
      <div class="table__cell table__header-cell">
        №
      </div>
      <div class="table__cell table__header-cell">
        Имя
      </div>
      <div class="table__cell table__header-cell">
        Скорость
      </div>
    </div>
    {{#ratingList}}
    <div class="table__row">
      <div class="table__cell">
        {{ index }}
      </div>
      <div class="table__cell">
        {{ name }}
      </div>
      <div class="table__cell">{{ speed }} c/м</div>
    </div>
    {{/ratingList}}
  </div>
</div>

{{> footer}}
