.text {
  font-family: Monospace, sans-serif;
  font-size: 22px;
  padding: 5px 10px;
  min-height: 100px;
  border: 1px solid #333;
  letter-spacing: 0.1px;
}

.text span {
  letter-spacing: 0.1px;
}

.cur-char {
  background-color: bisque;
}

.user-input {
  font-size: 18px;
  padding: 5px 10px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.user-speed,
.timer {
  font-size: 22px;
  font-weight: 700;
}
